.label {
    color: white;
  }
  .Employment-heading {
    color: white;
    font-size: 16px;
    padding-left: 30px;
  }
  .salary-heading {
    color: white;
    font-size: 16px;
    padding-left: 30px;
  }
  
  .employee-item{
    list-style-type: none;
  }
  .category-item{
    list-style-type: none;
  }
  .categories-list{
    margin-left: -10px;
  }