.s-image {
  width: 100%;
  margin-right: 10px;
}

.h-head {
  color: white;
  font-size: 16px;
}

.s-container {
  display: flex;
  align-items: center;
  margin: 20px;
  margin-right: 120px;
}

@media (max-width:768px) {
  .s-container {
    display: flex;
    flex-wrap: wrap;
  }
}