.similarCardContainer {
    background-color: #272727;
    width: 300px;
    margin: 5px;
    border-radius: 8px;
    padding: 10px;
  }
  .description {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  .job-description {
    color: white;
    max-width: 300px;
  }
  .location-employType {
    display: flex;
    justify-content: space-between;
    color: white;
  }
  .location {
    padding-right: 10px;
  }
  .star-rating-sm{
    margin-top: -30px;
    display: flex;
    align-items: center;
    color: white;
  }
  /* .star{
    padding-top:50px;
  } */